@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-orange: #ff9900;
  --color-maingray-1: #818181;
  --color-maingray-2: #454545;
  --color-maingray-3: #313131;
  --color-maingray-4: #181818;
}

#root {
  background-color: #313131;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

/* 
#ff9900	(255,153,0)
#818181	(129,129,129)
#454545	(69,69,69)
#313131	(49,49,49)
#181818	(24,24,24) 
*/
